{% extends "layout.twig" %}

{% block title %}Terme{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% if terme != false %}
                    <div class="page-header">
                        <h1>{{terme.LIBELLE}}</h1>
                        {% if SESSION['email'] is defined %}
                        <a href="terme_modif.php?terme={{ terme.LIBELLE }}">
                            <i class="glyphicon glyphicon-wrench"></i> Modifier
                        </a>
                        {% endif %}
                    </div>

                    <h2>Définition</h2>
                        {{terme.DEFINITION}}
                    {% if terme.GEN_LIBELLE != null %}
                        <h2>Spécialise</h2>
                        <a href="terme.php?terme={{ terme.GEN_LIBELLE }}">{{ terme.GEN_LIBELLE }}</a>
                    {% endif %}

                    {% if specialisations != false %}
                        <h2>Généralise</h2>
                            {% for spe in specialisations %}
                                <a href="terme.php?terme={{ spe.LIBELLE }}">{{ spe.LIBELLE }}</a>
                                {% if loop.last != true %}, {% endif %}
                            {% endfor %}
                    {% endif %}

                    {% if synonymes != false %}
                        <h2>Synonymes</h2>
                            {% for syno in synonymes %}
                                <a href="terme.php?terme={{ terme.LIBELLE }}">{{ syno.LIBELLE }}</a>
                                {% if loop.last != true %}, {% endif %}
                            {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="page-header">
                        <div class="alert alert-danger">Le terme n'existe pas.</div>
                    </div>
                {% endif %}



            </div>
        </div>
    </div>
{% endblock %}
